 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Pangolin", system-ui;
 }
 h1, h2, h3, h4, h5, h6 {
    font-family: "Candal", system-ui;
 }
img{
    max-width: 100%;
}
 :root{
    /*colores interfaz*/
    --primario: #4D83EB;
    --secundario: #FFC148;
    --oscuro: #3C424D;
    --medio-oscuro: #4E5563;
    --medio: #5B6372;
    --claro: #7F889A; 
    --fondo: #94B9FF; 
    --blanquecino: #BAD1FF;
    --fondo-claro: #DFEAFF;
    --blanco: #FFFFFF;
    --texto-secundario: #5C3E05;
 }
/*agregamos los estilos de celular*/ 
     .main{
    overflow: hidden;
    padding: 24px;
     }
.banner{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 33px;

    .usuario{
        background-color: var(--fondo-claro);
        padding: 24px 36px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 20px;
    
        img{
            width: 125px;
            height: 125px;
            object-fit: cover;
            border-radius: 70px;
        }
        .datos{
            display: flex;
            flex-direction: column;
            gap: 12px;
    
            .datos__nombre  {
                display: flex;
                flex-direction: column;
                gap: 8px;
    
                 h1{
                     font-size: 24px;
                     text-align: center;
                     color: var(--oscuro);
                 }
    
                 p{
                     font-size: 16px;
                     text-align: center;
                     color: var(--oscuro);
                 }
             }
    
            .datos__icons{
                display: flex;
                justify-content: center;
                gap: 16px;
    
                a{
                    font-size: 24px;
                    line-height: 24px;
                    color: var(--oscuro);
                    transition: .3s ease-in-out;
                }
    
                a:hover{
                    color: var(--secundario);
                }
    
            }
            .datos__cv{
                  display: flex;
                  justify-content: center;
    
                    a{
                       background-color: var(--primario);
                       padding: 8px 14px;
                       border-radius: 8px;
                       color: var(--fondo-claro);
                       font-weight: 500px;
                       width: max-content;
                       transition: .3s ease-in-out;
                    }
     
                     a:hover{
                       color: var(--blanco);
                       background-color: var(--secundario);
                    }
                } 
            }     
        }  
        .titular{
            display: flex;
            flex-direction: column;
            gap: 12px; 

            p{
                text-align: center;
                color: var(--oscuro);
                font-size: 16px;
            }

            h2{
                text-align: center;     
                color: var(--oscuro);  
                font-size: 20px;         
            }
        }
     }
.proyectos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    
    .Card{
        background-color: var(--fondo-claro);
        border-radius: 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img{
            width: 100%;
            height: 83px;
            object-fit: cover;
            border-radius: 8px;
        }

        .info{

            display: flex;
            flex-direction: column;
            gap: 10px;
            h2{
                font-size: 10px;
                text-align: center;
                color: var(--oscuro);
            }

            p{
                font-size: 10px;
                text-align: center;
                color: var(--medio);
            }
        }

        a {
            background-color: #4D83EB;
            font-size: 11px;
            padding: 8px 14px;
            border-radius: 8px;
            color: var(--fondo-claro);
            width: 100%;
            min-height: max-content;
            text-align: center;
            transition: .3s ease-in-out;
         
        }

        a:hover{
            background-color: var(--secundario);
            color: var(--blanco);
        }
    }
}
     
 
 

/*Agregamos los estilos en modo escritorio*/
@media screen and (min-width: 1024px){
    
    .main{
        padding: 64px;
    }
    .banner{
        background-color: var(--fondo-claro);
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 24px;
        padding: 32px;

    .usuario{
        padding: 0px;
        flex-direction: row;
        background-color: inherit;
        /*background-color: #ff0000*/;
        border-radius: 0px;
        padding-right: 64px;
        margin-right: 64px;
        border-right: 1px solid var(--fondo);
       
        img {
            width: 163px;
            height: 163px;
        }
 
        .datos{

            .datos__nombre{

                h1{
                    text-align: left;
                    font-size: 30px; 
                }

                p{
                    text-align: left;
                    font-size: 22px;
                }
            }

            .datos__icons{
                justify-content: flex-start;
            }

            .datos__cv{
                justify-content: flex-start;

                a{
                 font-size: 22px;
            }   
        }
    }
    .titular{ 
        display: flex;
        gap: 8px;
        flex-direction: column;

        p {
            font-size: 22px;
            color: var(--oscuro);
            text-align: left;
        }

        h2 {
            font-size: 30px;
            color: var(--oscuro);
            text-align: left;
        }
     }
    }
    }
    
    .proyectos{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;

        .Card{
            border-radius: 24px;
            padding: 20px;
            gap: 16px;
    
            img{
                width: 100%;
                height: inherit;
                aspect-ratio: 4 / 2.5;
                object-fit: cover;
                border-radius: 12px;
            }
    
            .info{
                gap: 16px;

                h2{
                    font-size: 20px;
                    color: var(--oscuro);
                }
    
                p{
                    font-size: 20px;
                }
            }
    
            a {
                font-size: 22px;
                padding: 8px 14px;
                border-radius: 12px;
                width: max-content;
             
            }
        }
    }

}